{% extends 'layouts/navbar.html' %}

{% block title %}{{ post.titulo }}{% endblock %}


{% block content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              <p>{{ post.cuerpo }}</p>
            </div>
        </div>
    </div>
</article>

{% if post.user.id == user.id %}
<a href="/editarPost?id={{ post.id }}"><button type="button" name="button">Edit</button></a>
<a href="/eliminarPost?id={{ post.id }}"><button type="button" name="button">Delete</button></a>
{% endif %}

{% endblock %}
